/*ESTILOS GENERALES*/

* {
    box-sizing: border-box;
}

body {
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background: radial-gradient(
        circle at top,
        #1d2148 0%,
        #151936 45%,
        #090c18 100%
    );

    color: white;
}

/*ENCABEZADO*/

header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 10px 0;
    font-size: 2em;
}

/*SECCION PRINCIPAL*/

main {
    padding: 30px 20px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

/*CONFIGURACION DE PALETAS*/

section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

/*Selector 6 / 8 / 9 colores*/

#palette-size {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*BOTON GENERAR PALETA*/

#generate-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Cuando pase el mouse por encima del boton*/

#generate-button:hover {
    background-color: #314b31;
}

/*PALETA DE COLORES*/

#palette-container {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/*js genera un div por cada color, y le asigna la clase color-card*/

.color-card {
    height: 100px;
    border-radius: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    padding: 10px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    text-align: left;
}

/*feedback de los colores copiados*/

#feedback {
  margin-top: 15px;
  font-weight: bold;
}

/*footer*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
}